<div class="talk-room-form">
	<%= form_for @article do |f| %>
		<p>
			<%= f.label :title %><br>
			<%= f.text_field :title, class: "form-control" %>について
		</p>
		<p>
			<%= f.label :body %><br>
			<%= f.text_field :body, class: "form-control" %>
			<%= f.hidden_field :user_id, value: current_user.id %>
		</p>
		<p>
			<%= f.submit "Create Room" %>
		</p>
	<% end %>
</div>