<%= form_for @article do |f| %>
	<p>
		<%= f.label :title %><br>
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :body %><br>
		<%= f.text_field :body %>
	</p>
	<p>
		<%= f.hidden_field :user_id, value: current_user.id %>
	</p>
	<p>
		<%= f.submit "Talk" %>
	</p>
<% end %>