<h1><%= @article.title %>について</h1>

<p>
	<%= @article.body %>
</p>

<hr>

<% @article.comments.each do |comment| %>
	<%= comment.user.email %>：
	<%= comment.body %>
		<% if user_signed_in? %>
			<% if comment.like?(current_user) %>
				<%= link_to likes_path(comment.id), method: :delete do %>
					<i class="fa fa-heart" aria-hidden="true"></i>
				<% end %>
			<% else %>
				<%= link_to like_path(comment.id), method: :post do %>
					<i class="fa fa-heart-o" aria-hidden="true"></i>
				<% end %>
			<% end %>
		<% end %>
<% end %>


<% if user_signed_in? %>
	<%= form_for Comment.new, url: article_comments_path(@article.id) do |f| %>
		<%= f.label :body %><br>
		<%= f.text_area :body %>
		<%= f.hidden_field :user_id, value: current_user.id %>
		<%= f.hidden_field :article_id, value: @article.id %>
		<p>
			<%= f.submit "コメント" %>
		</p>
	<% end %>
<% end %>
